@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
  }
  

body {
    @include roboto;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 25px;
    margin: 0 auto;
}