.photos {
  @include medium {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(0, 0, 0, 0.03);
  }
  padding-top: 38px;
  padding-bottom: 38px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 13px;
    @include medium {
      padding-bottom: 35px;
    }
  }

  &__title {
  }

  &__link {
    display: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: $darkGrey;
    line-height: 22px;
    @include medium {
      display: block;
    }

    &:hover {
      color: $torqoise;
    }
  }

  &__list {
    @include small {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      grid-gap: 10px;
    }

    @include large {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
    }

  }

  &__item {
    display: none;
    width: 100%;
    height: auto;

    &.show {
      display: block;
    }

    &.hide {
      display: none;
    }

    @include small {
      display: block;
      width: 100%;
      height: auto;
    }

    &:last-child {
      @include small {
        display: none;
      }

      @include large {
        display: block;
      }
    }
  }
}