/*COLORS*/
$grey: #5C5C5C;
$darkGrey: #4e4e4e;
$lightGrey: #7c7c7c;
$whiteGrey: #B9B9B9;
$torqoise: #57A4A4;
$white: #fff;
$black: #000;

/*BREAKPOINTS*/
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1200px;